@import "../../index.css";

.mainCartContent {
    margin-top: 0px;
    gap: 20px;
}

.cartContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cartContent, .cartTitleContainer {
    width: 100% !important;
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    padding-top: 12px;

}

.cartTitleContainer {
    padding-bottom: 0px !important;
}

.cartProductsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.emptyCart {
    width: 100%;
    text-align: center;
}

.cartProductContainer {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 94% !important;
    gap: 16px;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid var(--med-gray);
}

.cartProductInfo {
    width: 67%;
}

.cartProductInfo > div {
    margin-top: 6px;
}

.cartProductTitle {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 0px !important;
}

.removeProductIcon {
    color: #717171;
    font-size: var(--h2-size);
    font-weight: 400;
    cursor: pointer;
}

.cartPriceContainer {
    margin-top: 6px;
}

.cartImgContainer {
    width: 33%;
    margin: 0px !important;
    padding: 0px !important;
    max-height: 120px !important; 
}

.cartProductImgLink {
    align-items: flex-start !important;
}

.cartImg {
    max-width: 74%;
    max-height: 74%;
}

.cartDiscountedPrice, .cartDiscount, .cartRegularSpan, .cartRegularPrice, .cartDiscountedPrice {
    font-size: var(--sm-size) !important;
}

.cartDiscountContainer {
    justify-content:flex-start;
    gap: 6px;
}

.quantityContainer {
    border: 1px solid var(--med-gray);
    width: fit-content;
    border-radius: 3px;
    overflow: hidden;
}

.quantityInput {
    text-align: center;
}

.quantityContainer button {
    width: 27px;
    height: 26px;
    border: none;
}

.quantityContainer input {
    height: 26px;
    width: 28px;
    border: none;
    border-right: 1px solid var(--med-gray);
    border-left: 1px solid var(--med-gray);;
}

.nextToContactButton {
    margin-top: 10px;
    background-color: var(--main-gold);
    height: 46px !important;
    width: 100%;
    border-radius: 6px;
    border: none;
    font-weight: 600;
}

.cartTitleContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
}

.cartTitleContent {
    border: none !important;
}

.cartTitleContent div:first-child {
    display: flex;
}

.cartTitleContent div a:first-child {
    cursor: pointer;
}

.cartResumeContainer {
    padding: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.cartResumeContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cartResumeContent > p {
    color: var(--dark-gray);
}

.cartResumeLine {
    display: flex;
    justify-content: space-between;
}

.desktopGoToContactInfo {
    display: none;
}

.fixedGoToContactInfo {
    margin: auto;
    margin-top: -30px;
    width: 94% !important;
    height: 110px;
    background-color: white;
    position: sticky;
    bottom: 0;
    z-index: 1;
    padding-top: 14px;
}

.fixedGoToContactInfo p {
    margin-top: 8px;
    text-align: center;
}

@media (min-width: 600px) {
    .mobileButton {
        display: none;
    }    

    .cartTitleContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2%;
        padding-bottom: 16px !important;
    }

    .cartTitleContent {
        padding: 0px;
    }

    .cartContent {
        padding: 1%;
        flex-direction: row;
        gap: 10px;
        align-items: flex-start;
    }

    .cartProductsContainer {
        width: 62% !important;
    }

    .cartResumeContainer {
        width: 38% !important;
    }

    .desktopGoToContactInfo {
        display: block;
    }

    .fixedGoToContactInfo {
        display: none;
    }
}
