@import "../../index.css";

.productContainer {
    width: 96% !important;
    background-color: white;
    padding: 15px;
    border: 1px solid var(--reg-gray);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.productTitleContainer {
   height: 36px;
   display: block;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

.addedToCartProductTitle {
    justify-content: flex-start !important;
    width: 100%;
}

.productPriceContainer {
    display: flex;
    gap: 6px;
    justify-content: flex-start !important;
}

.productTitleContainer,
.productPriceContainer span:first-child {
    font-weight: 700;
}

.productImgContainer,
.productTitleContainer,
.productPriceContainer {
    margin-bottom: 8px;
}

.productImgContainer {
    position: relative;
    max-width: 240px;
    min-height: 120px;
    max-height: 210px;
    height: 18vw;
}

.productImgLink {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.productImg {
    max-width: 67%;
    max-height: 67%;
    overflow: hidden;
}

.mobileAddToCartButton {
    display: none;
}

.productPriceContainer span:nth-child(2) {
    text-decoration: line-through;
    color: var(--dark-gray);
}

.slick-slide div {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.slick-next:before {
    display: none;
}

.slick-prev:before {
    display: none;
}

.slick-next {
    background: url('../../assets/slick/nextIco.svg') center center no-repeat !important;
    background-size: contain !important;
    margin-right: -26px !important;
}

.slick-prev {
    background: url('../../assets/slick/beforeIco.svg') center center no-repeat !important;
    background-size: cover !important;
    margin-left: -26px !important;
}

.slick-next,
.slick-prev {
    width: 50px !important;
    height: 50px !important;
    display: none !important;
    opacity: 0.7;
}

.slick-next:hover, .slick-prev:hover {
    opacity: 1;
}

@media (max-width: 600px) {

    .regular {
        margin: auto;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        width: 100%;
        gap: 10px;
    }

    .productContainer {
        min-width: 150px !important;
        padding: 10px;
    }

    .productImgContainer {
        position: relative;
        height: 120px;
        min-height: 120px;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .productImgContainerWithDealBanner {
        position: relative;
        height: 90px;
        min-height: 90px;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .productImg {
        max-width: 85%;
        max-height: 85%;
    }

    .productTitleContainer,
    .productPriceContainer span {
        font-size: var(--sm-size);
    }

    .productPriceContainer {
        flex-direction: column;
        gap: 0px;
    }

    .mobileAddToCartButton {
        display: block;
    }

    .productImgContainer,
    .productTitleContainer,
    .productPriceContainer {
        margin-bottom: 1px;
    }
}

@media (min-width: 900px) {

    .slick-prev,
    .slick-next {
        display: block !important;
    }
}