.searchResults {
    margin-top: -20px;
    margin-bottom: -20px;
    font-weight: 600;
}

.searchResults h4 span:first-child {
    font-weight: 400;
}

.searchedProductsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
    grid-auto-rows: minmax(0px, auto);
}

.searchedProductContainer {
    margin: auto;
}

@media (min-width: 300px) {
    .searchedProductsContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 600px) {
    .searchedProductsContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (min-width: 900px) {

    .searchedProductsContainer {
        grid-template-columns: repeat(4, 1fr);
    }

}