@import "../../index.css";

.separator {
    width: 100%;
    border-bottom: 1px solid var(--med-gray);
}

.detailContainer {
    margin: auto;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: -24px;
}

.detailImgContainer {
    margin: auto;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.detailImg {
    outline: 1px solid white;
    outline-offset: -1px;
}

.detailImgContainer .slick-prev, .detailImgContainer
    .slick-next {
        display: none !important;
    }

.detailInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.detailTitleContainer {
    margin-top: 20px;
}

.detailTitleContainer a {
    cursor: pointer;
}

.detailPriceContainer {
    width: fit-content;
}

.detailDiscountContainer {
    display: flex;
    justify-content: space-between;
}

.detailRegularContainer {
    display: flex;
    justify-content: space-between;

    padding-right: 3px;
}

.detailDiscountContainer span {
    font-size: 34px;
}

.detailDiscountedPrice {
    font-weight: 700;
    color: black !important;
    text-decoration: none !important;
    font-size: 34px !important;
}

.detailDiscount {
    color: #BB0627;
}

.detailRegularContainer span {
    font-size: var(--h3-size);
    color: var(--dark-gray);
}

.detailRegularSpan {
    margin-right: 6px;
}

.detailRegularPrice {
    text-decoration: line-through;
}

.detailsCollapsibleContainer {
    transition: all .5s ease;   
}

.detailCollapsibleButton, .detailModelButton {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    background-color: white;
    margin-bottom: 6px;
}

.detailCollapsibleButton span {
    font-size: var(--h4-size);
    font-weight: 600;
}

.detailCollapsibleButton span:last-child::after {
    margin-left: 6px;
    content: "+";
    color: var(--dark-gray);
}

.detailCollapsibleContentHidden, .modelCollapsibleContentHidden {
    height: 0px;
    overflow: hidden;
    transition: height 0.2s ease;
}

.detailCollapsibleContentShow, .modelCollapsibleContentShow {
    height: auto;
    transition: height 0.2s ease;
}

.modelsContainer {
    display: flex;
    flex-direction: column;
}

.modelsContainer > button > span:first-child {
    font-size: var(--h4-size);
}

.modelsContainer > button > span:nth-child(2) {
    font-size: var(--h4-size);
    font-weight: 600;
    margin-left: 4px;
}

.modelsContainer > button > span:last-child::after {
    margin-left: 4px;
    content: "+";
    color: var(--dark-gray);
    font-weight: 600;
    font-size: var(--h4-size);
}

.modelCollapsibleContentShow {
    display: flex !important;
    gap: 8px;
    overflow:auto;
}

.modelContent {
    border: 1px solid var(--med-gray);
    border-radius: 6px;
    min-width: 100px;
    height: 85px;
    text-align: center;
}

.modelModel {
    border-radius: 6px 6px 0px 0px;
    height: 49%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
}

.selectedModel {
    border: 3px solid var(--main-gold);
}

.modelPrice {
    border-top: 1px solid var(--med-gray);
    height: 51%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixedDetailButtonsContainer {
    margin-top: -16px !important;
    width: 100% !important;
    height: 82px;
    background-color: white;
    position: sticky;
    bottom: 0;
    display: flex;
    gap: 10px;
    align-items: center;
    z-index: 1;
}

.quantityDetails {
    height: 46px !important;
    border-radius: 6px;
    font-weight: 600;
}

.quantityDetails {
    width: 56px;
}

@media (min-width: 600px) {
    .detailImgContainer {
        margin: auto;
        width: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
    }    
}

@media (min-width: 900px) {
    .detailContainer {
        margin: auto;
        width: 100% !important;
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: -24px;
        padding-bottom: 40px;
    }

    .detailImgContainer {
        margin: auto;
        width: 40% !important;
        margin-top: 20px;
        padding-bottom: 20px;
    }   

    .detailImgContainer .slick-list {
        margin: auto;
        width: 75%;
    }

    .detailInfoContainer {
        width: 60% !important;
    }

    .fixedDetailButtonsContainer {
        margin-bottom: -30px;
    }
}

